@import url('https://fonts.googleapis.com/css?family=Roboto');

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    font-family: 'Roboto', sans-serif;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
body {
    margin:0;
    padding:0;
    height:100%;
}
#wrapper {
    min-height:100%;
    position:relative;
}

/* ########## HEADER ############ */

header a{
    text-decoration: none;
}
#header-top{
    height: 30px;
    background-color: #331f00;
}
#header-bottom{
    height: 300px;
    background-color: #f8b323;
}
#header-bottom-small{
    height: 80px;
    background-color: #f8b323;
}
#header-bottom .content {
    margin: auto;
    height: 300px;
    background: url("/web/pib/img/static/background-bottom.png") no-repeat center;
}
#header-bottom-small .content {
    margin: auto;
    height: 80px;
    background: url("/web/pib/img/static/background-bottom.png") center no-repeat;
    background-size: 80px 80px;
}

#header-bottom .content h1 {
    font-size: 60px;
    font-weight: bold;
    color: #2a1a00;
    text-align: center;
}
#header-bottom-small .content h1 {
    font-size: 50px;
    font-weight: bold;
    color: #2a1a00;
    text-align: center;
    line-height: 80px;
}

/* ########## MAIN ############ */

#main{
    padding-bottom: 40px;
    max-width: 900px;
    margin: auto;
    color: #2a1a00;
}
.main-index{
    padding-bottom: 40px;
    max-width: 100%!important;
}
#main .content{
    padding: 10px;
}
#main .content p{
    text-align: justify;
    margin-bottom: 15px;
}

/* ########## INDEX HOME ############ */

#video-home{
    background: url("/web/pib/img/static/video-background.png") repeat-x;
    padding: 40px 0 0 0;
}
#video-home-video{
    margin: auto;
    border: 5px solid white;
    border-radius: 4px;
}
#video-explication{
    margin: 25px auto 30px auto;
    padding: 10px;
    border-top: 1px solid #2a1a00;
    border-bottom: 1px solid #2a1a00;
    max-width: 640px;
    text-align: justify;
}
a.button-home{
    text-decoration: none;
    cursor: pointer;
    width: 225px;
    background-color: #f8b323;
    padding: 12px;
    margin: 20px auto 0 auto;
    display: block;
    font-size: 25px;
    text-align: center;
    border-bottom: 3px solid #d0961c;
    color: #2a1a00;
    border-radius: 2px;
}

/* ########## BODY ############ */

h1.h1-title{
    font-size: 40px;
    text-align: center;
    padding: 20px;
}
.video-block{
    max-width: 700px;
    margin: auto auto 50px auto;
}
.video-block .h2-title-video{
    font-size: 25px;
    padding: 5px 0;
}
.video-block .h2-title-video a{
    color: #2a1a00;
    text-decoration: none;
}
.stars{
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.stars-input{
    width:190px;height:15px
}
.stars-value{
    float:left;
    height:36px;
    background: url("/web/pib/img/static/star-filled.png") repeat-x;
}
.stars-input-content{
    float:left;
    width:190px;
    margin-right:5px;
    background: url("/web/pib/img/static/star-o.png") repeat-x;
    cursor:pointer
}
.stars-input-title{
    display:inline-block;
    position:relative;
    top:2px;
    left:10px
}

/* ########## EDITOR ############ */

#video-editor-block{
    max-width: 700px;
    margin: auto;
}
#video-editor-subtitle{
    width: 100%;
    height: 40px;
    position: relative;
    top: -40px;
    text-align: center;
    color: white;
    line-height: 40px;
    margin-bottom: -40px;
    font-size: 18px;
}
select{
    padding: 10px;
    margin: 15px 0;
    outline: none;
}
select#video-editor-video,
select#video-editor-subtitles,
select#video-editor-musics{
    width: 100%;
}
input[type="email"]{
    padding: 10px;
    margin: 15px 0;
    width: 100%;
    box-sizing: border-box;
    outline: none;
}
input[type="submit"]{
    border: none;
    text-decoration: none;
    cursor: pointer;
    width: 225px;
    background-color: #f8b323;
    padding: 12px;
    margin: 20px auto 0 auto;
    display: block;
    font-size: 25px;
    text-align: center;
    border-bottom: 3px solid #d0961c;
    color: #2a1a00;
    border-radius: 2px;
    outline: none;
}
input.subtitle-element-content{
    padding: 5px;
    width: 60%;
    margin-right: 1%;
    box-sizing: border-box;
    margin-bottom: 5px;
    outline: none;
}
input.subtitle-element-begin{
    padding: 5px;
    width: 15%;
    margin-right: 1%;
    box-sizing: border-box;
    margin-bottom: 5px;
    outline: none;
}
input.subtitle-element-end{
    padding: 5px;
    width: 15%;
    margin-right: 1%;
    box-sizing: border-box;
    margin-bottom: 5px;
    outline: none;
}
.subtitle-element-delete{
    width: 5%;
    font-size: 25px;
    text-align: right;
    float: right;
    line-height: 29px;
    margin-bottom: 5px;
    outline: none;
}
.subtitle-title{
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 5px;
    outline: none;
}
.video-title{
    padding: 10px;
    margin: 30px 0 15px 0;
    width: 100%;
    box-sizing: border-box;
    outline: none;
}
a.subtitle-element-add{
    border: none;
    text-decoration: none;
    cursor: pointer;
    width: 150px;
    background-color: #f8b323;
    padding: 6px;
    margin: 10px 0;
    display: block;
    font-size: 20px;
    text-align: center;
    border-bottom: 3px solid #d0961c;
    color: #2a1a00;
    border-radius: 2px;
    outline: none;
}
#video-editor-video-time{
    width: 100%;
    background-color: #f8b323;
    height: 35px;
    font-size: 25px;
    line-height: 35px;
    text-align: center;
}

/* ########## FOOTER ############ */

footer{
    padding: 0 10px 5px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    width:100%;
    height: 20px;
    position:absolute;
    bottom:0;
    left:0;
}
footer a{
    color: #2a1a00;
    display: inline-block;
}
footer #footer-left{
    font-size: 17px;
    padding-bottom: 6px;
}
footer #footer-left a{
    padding-right: 10px;
    padding-bottom: 5px;
}
footer #footer-right{
    width: 123px;
    text-align: right;
    font-size: 40px;
}
footer #footer-right a{
    text-decoration: none;
}

.clear{
    clear: both;
}